# svn
*.svn*

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*/R.java

# generated folder
bin
gen
out

# local
local.properties
proguard/
*/proguard.cfg

# log files
log*.txt

# archives
*.gz
*.tar
*.zip

# eclipse
*.classpath
*.project
*.metadata
*.settings

#idea
*.iml
*.ipr
*.iws
*.idea
*.iml
